Project1/.vs/Project1/CopilotIndices/17.14.1641.39856/CodeChunks.db-shm
.vs/Myway_cf/v17/DocumentLayout.backup.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Myway_cf/v17/DocumentLayout.json
.vs/Myway_cf/v17/.wsuo
.vs/Myway_cf/FileContentIndex/92f7325e-11c0-4808-8151-25249002d8e1.vsidx
.vs/Myway_cf/FileContentIndex/5651d07f-364b-4e27-84c6-6351b9a3e221.vsidx
.vs/Myway_cf/CopilotIndices/17.14.1641.39856/SemanticSymbols.db-wal
.vs/Myway_cf/CopilotIndices/17.14.1641.39856/CodeChunks.db-wal
.vs/Myway_cf/CopilotIndices/17.14.1641.39856/CodeChunks.db-shm
